<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-title mode="ios" class="ion-text-center">
      Write Review
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header></ion-header>
  <ion-card>
    <img src="https://sceneeats.com/Content/Admin/Uploads/Articles/ArticlesMainPhoto/3662/6b51c532-fe96-4854-b088-c09ae32c7fcc.jpg">
    <ion-card-content>
      Thank you for your feedback!<br><br>We are looking forward to your next visit.
    </ion-card-content>
  </ion-card>

  <ion-button expand=block href='/home'>
    Return to homepage
  </ion-button>
</ion-content>
